# --- KAGGLE CONFIGURATION ---
# Get these from your Kaggle Account Settings -> API -> Create New Token
KAGGLE_USERNAME=your_username_here
KAGGLE_KEY=your_api_key_here

# --- DATABASE CONFIGURATION ---
MONGO_URI=mongodb://mongodb:27017/
LOG_LEVEL=INFO